<%= month_calendar do |date| %>
  <%= date.day %>

  <% if @accepted_meetings.any? %>
    <% @accepted_meetings.each do |meeting| %>
      <% if meeting.start_time.to_date == date %>
        <div class="event">
          <%= link_to meeting_path(meeting) do %>
            <div class="meeting-card p-2 mb-2">
              <p class="mb-0">
                <strong>
                  <%= meeting.requester == current_user ? meeting.receiver.name : meeting.requester.name %>
                </strong>
              </p>
              <p class="mb-0"><strong><%= meeting.lecture.title %></strong></p>
              <p class="mb-0"><%= meeting.start_time.strftime("%H:%M") %> - <%= meeting.end_time.strftime("%H:%M") %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
