<section class="user-dashboard d-flex justify-content-between align-items-center">
  <div class="dashboard__content">
    <h1>My <span class="dashboard__content--word">Dashboard</span></h1>
    <p>Welcome back <%= current_user.name.split(" ").first %>!</p>
  </div>
</section>

<section class="meetings__cards mt-4 mb-5">
  <h2><strong>My next meetings</strong></h2>

  <% if @accepted_meetings.any? %>
    <div class="d-flex gap-3 w-100 flex-wrap mt-4 accepted-meetings">
      <% @accepted_meetings.first(3).each do |meeting| %>
        <% if meeting.requester == current_user || meeting.receiver == current_user %>
          <div class="meeting__card flex-fill p-3 shadow">
            <div class="d-flex align-items-center gap-2 mb-2">
              <% avatar_user = meeting.receiver == current_user ? meeting.requester : meeting.receiver %>
              <%= image_tag avatar_user.avatar_url, class: "meeting__card--avatar green-border radius-avatar", alt: "" %>

              <div>
                <p class="mb-0 text-decoration-underline">
                  <strong>
                    <%= link_to avatar_user.name, user_profile_path(avatar_user), class: "text-decoration-underline text-dark" %>
                  </strong>
                </p>
                <p class="small text-muted">In <%= distance_of_time_in_words(Time.now, meeting.start_time) %></p>
              </div>
            </div>
            <ul class="list-unstyled mb-2">
              <li><strong>Lecture:</strong> <%= meeting.lecture.title %></li>
              <li><strong>Start time:</strong> <%= meeting.start_time.strftime("%B %d, %Y %H:%M") %></li>
              <li><strong>End time:</strong> <%= meeting.end_time.strftime("%H:%M") %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="text-center mt-5">
      <%= link_to "📅 See all meetings in calendar", calendar_meetings_path, class: "rounded-calendar-btn" %>
    </div>
  <% else %>
    <div class="text-center p-4">
      <p style="font-size: 3rem;">📭</p>
      <p class="mb-0">You have no meetings scheduled yet.</p>
      <p class="">Start by <%= link_to "exploring lectures", chapters_path %> and connecting with others!</p>
    </div>
  <% end %>
</section>


<div class="profile-container mt-5 mb-5" data-controller="toggle-meetings">
  <div class="d-flex content-name">
    <h3 class="toggle-header fw-bold underline"
        data-toggle-meetings-target="myRequestsHeader"
        data-action="click->toggle-meetings#toggle"
        data-value="myRequests">My Pending Requests</h3>

    <h3 class="toggle-header fw-bold"
        data-toggle-meetings-target="requestsForMeHeader"
        data-action="click->toggle-meetings#toggle"
        data-value="requestsForMe">Requests for Me</h3>
  </div>

  <!-- My Requests Section -->
  <div id="my-requests-content" data-toggle-meetings-target="myRequestsContent" class="toggle-content">
    <% if @pending_meetings.any? %>
      <div class="dashboard__cards">
        <% @pending_meetings.each do |meeting| %>
          <div class="pending__card shadow-sm">
            <div class="d-flex user-infos">
              <%= image_tag meeting.receiver.avatar_url, class: "pending__card--avatar green-border", alt: "" %>
              <div class="w-100">
                <div class="d-flex justify-content-between pending__card--user">
                  <%= link_to meeting.receiver.name, user_profile_path(meeting.receiver), class: "text-decoration-underline text-dark" %>
                  <p class="text time"><%= time_ago_in_words(meeting.created_at) %> ago</p>
                </div>
                <p class="text">You asked for their help</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pending__card--details">
              <p class="challenge-name m-0"><%= meeting.lecture.title %></p>
              <%= link_to "View details", meeting_path(meeting), class: "text view-details" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">You don't have any requests yet.</p>
    <% end %>
  </div>

  <!-- Requests for Me Section -->
  <div id="requests-for-me-content" data-toggle-meetings-target="requestsForMeContent" class="toggle-content d-none">
    <% if @requests_for_me.any? %>
      <div class="dashboard__cards">
        <% @requests_for_me.each do |meeting| %>
          <div class="pending__card shadow-sm">
            <div class="d-flex user-infos">
              <%= image_tag meeting.requester.avatar_url, class: "pending__card--avatar green-border", alt: "" %>
              <div class="w-100">
                <div class="d-flex justify-content-between pending__card--user">
                  <%= link_to meeting.requester.name, user_profile_path(meeting.requester), class: "text-decoration-underline text-dark" %>
                  <p class="text time"><%= time_ago_in_words(meeting.created_at) %> ago</p>
                </div>
                <p class="text">They asked for your help</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pending__card--details">
              <p class="challenge-name m-0"><%= meeting.lecture.title %></p>
              <%= link_to "View details", meeting_path(meeting), class: "text view-details" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">No one asked for your help yet.</p>
    <% end %>
  </div>
</div>
