<section class="meeting-details">
  <h1>Meeting Details</h1>

  <div class="meeting-info">
    <p><strong>Requester:</strong> <%= @meeting.requester.name %></p>
    <p><strong>Receiver:</strong> <%= @meeting.receiver.name %></p>
    <p><strong>Lecture:</strong> <%= @meeting.lecture.title %></p>
    <p><strong>Start time:</strong> <%= @meeting.start_time.strftime("%B %d, %Y %H:%M") %></p>
    <p><strong>End time:</strong> <%= @meeting.end_time.strftime("%H:%M") %></p>

    <% if @meeting.status == "pending" && current_user == @meeting.receiver %>
      <%= simple_form_for @meeting, url: accept_meeting_path(@meeting), method: :patch do |f| %>
        <%= f.button :submit, "Accept", class: "btn btn-success" %>
      <% end %>

      <%= simple_form_for @meeting, url: decline_meeting_path(@meeting), method: :patch do |f| %>
        <%= f.button :submit, "Decline", class: "btn btn-danger" %>
      <% end %>

    <% elsif @meeting.status == "pending" && current_user == @meeting.requester %>
      <%= link_to 'Cancel Request', cancel_meeting_path(@meeting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"  }, class: 'btn btn-warning' %>
    <% end %>

    <%= link_to 'Back to Meetings', dashboard_path, class: 'btn btn-secondary' %>
  </div>
</section>
