<div class="modal fade" id="meetingModal-<%= lecture_user.user.id %>" tabindex="-1" aria-labelledby="meetingModalLabel" aria-hidden="true" data-user-id="<%= lecture_user.user.id %>">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meetingModalLabel">Request Meeting with <%= lecture_user.user.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


       <%= simple_form_for [@lecture, @meeting], data: { controller: 'flatpickr' } do |f| %>
        <%= f.hidden_field :receiver_id, value: lecture_user.user.id %>
        <%= f.hidden_field :requester_id, value: current_user.id %>
        <%= f.hidden_field :lecture_id, value: @lecture.id %>

        <!-- Input for start time -->
        <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>

        <!-- Input for end time -->
        <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>

        <%= f.submit 'Send Request', class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
