<div class="modal fade" id="meetingModal-<%= lecture_user.user.id %>" tabindex="-1" aria-labelledby="meetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meetingModalLabel">Request Meeting with <%= lecture_user.user.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@lecture.chapter, @lecture, Meeting.new] do |f| %>
          <%= f.hidden_field :receiver_id, value: lecture_user.user.id %>
          <%= f.hidden_field :requester_id, value: current_user.id %>
          <%= f.hidden_field :lecture_id, value: @lecture.id %>

          <%= f.input :start_time, as: :datetime, label: "Start Time" %>
          <%= f.input :end_time, as: :datetime, label: "End Time" %>
          <%= f.input :start_time, as: :datetime_local, label: "Start Time", input_html: { value: @meeting.start_time.strftime('%Y-%m-%d %I:%M %p') } %>
          <%= f.input :end_time, as: :datetime_local, label: "End Time", input_html: { value: @meeting.end_time.strftime('%Y-%m-%d %I:%M %p') } %>


          <%= f.button :submit, "Send Request", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
