<%= link_to "< Back", chapter_path(@lecture.chapter)  %>

<div class="d-flex justify-content-between align-items-center mb-5 flex-column flex-md-row text-center text-md-start lecture-content">
  <div>
    <%= link_to "https://www.theodinproject.com/lessons/ruby-how-this-course-will-work", target: "_blank" do  %>
      <h1 class="m-0 pb-2 text-decoration-underline fw-bold"><%= @lecture.title %></h1>
    <% end %>
    <%# add the icon %>
    <%= link_to "View this course in Odin Project", "https://www.theodinproject.com/lessons/ruby-how-this-course-will-work", target: "_blank" %>
  </div>

  <% unless @lecture.lecture_users.exists?(user: current_user) %>
    <%= simple_form_for @lecture, url: mark_as_done_lecture_path(@lecture), method: :post do |f| %>
      <%= f.button :submit, "Mark as Done!", class: "mark-done-btn" %>
    <% end %>
  <% else %>
    <p class="text-success fw-bold">✅ You have completed this lecture!</p>
  <% end %>
</div>

<div class="lecture__help">
  <h2 class="lecture__help--subtitle">Need help with this lecture?</h2>
  <p class="text-muted">Reach out to someone who completed this lecture and might be able to help you!</p>
</div>

<h3 class="mt-4 mb-4"><%= pluralize(@lecture.lecture_users.count, "person") %> completed this lecture:</h3>
<div class="lecture__list row">
  <% @lecture.lecture_users.each do |lecture_user| %>
    <div class="col-md-4 mb-4">
      <div class="lecture__card p-3 d-flex flex-column gap-3 rounded-lg">

        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <%= image_tag lecture_user.user.avatar_url, class: "lecture__avatar", alt: "#{lecture_user.user.name}'s avatar" %>

            <div>
              <h4 class="m-0 fw-bold"><%= lecture_user.user.name %></h4>
              <p class="current-lecture m-0 text-success small">Currently learning this lecture</p>
            </div>
          </div>

          <span class="favorite-icon">
            <i class="fa-regular fa-heart"></i>
            <%# <i class="fa-solid fa-heart"></i> %>
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column gap-1">
            <p class="m-0 small text-muted">
              <i class="fa-solid fa-laptop-code me-1"></i> Web Development FT
            </p>
            <p class="m-0 small text-muted">
              <i class="fa-solid fa-location-dot me-1"></i> Lisbon
            </p>
          </div>

          <div class="timezone text-end">
            <p class="m-0 small text-muted"><strong>Timezone</strong></p>
            <p class="m-0 small text-muted">4:06 PM</p>
          </div>
        </div>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#meetingModal-<%= lecture_user.user.id %>">
        Request Meeting
      </button>
      </div>


    </div>

    <%= render "modal-meetings", lecture: @lecture, lecture_user: lecture_user %>
  <% end %>
</div>
