<%= link_to "< Back to #{@lecture.chapter.name}", chapter_path(@lecture.chapter), class: "back-btn mb-5" %>

<div class="d-flex justify-content-between align-items-center mb-5 flex-column flex-md-row text-center text-md-start lecture-content">
  <div>
    <%= link_to @lecture.resource_url, target: "_blank" do  %>
      <h1 class="m-0 pb-2 text-decoration-underline fw-bold"><%= @lecture.title %></h1>
    <% end %>
    <%= link_to "View this course in Odin Project", @lecture.resource_url, target: "_blank" %>
  </div>

  <% if @lecture.lecture_users.exists?(user: current_user) %>
    <div class="d-flex flex-column align-items-end">
      <p class="text-success fw-bold mb-0">✅ You have completed this lecture!</p>
      <%= simple_form_for @lecture, url: mark_as_done_lecture_path(@lecture), method: :post do |f| %>
        <%= f.button :submit, "Cancel ❌", class: "cancel-done-btn text-danger p-0 fw-bold" %>
      <% end %>
    </div>
  <% else %>
    <%= simple_form_for @lecture, url: mark_as_done_lecture_path(@lecture), method: :post do |f| %>
      <%= f.button :submit, "Mark as Done!", class: "mark-done-btn" %>
    <% end %>
  <% end %>
</div>

<div class="lecture__help">
  <h2 class="lecture__help--subtitle">Need help with this lecture?</h2>
  <p class="text-muted">Reach out to someone who completed this lecture and might be able to help you!</p>
</div>

<h3 class="mt-5 mb-4"><%= pluralize(@lecture.lecture_users.count, "person") %> completed this lecture:</h3>
<div class="lecture__list row">
  <% @lecture.lecture_users.order(created_at: :desc).each do |lecture_user| %>
    <% if lecture_user.user != current_user %>
    <%# <% unless lecture_user.user == current_user %>
      <div class="col-md-4 mb-4">
        <div class="lecture__card p-3 d-flex flex-column gap-3 rounded-lg">
          <div class="d-flex align-items-center justify-content-between">
            <%= link_to user_profile_path(lecture_user.user) do %>
              <div class="d-flex align-items-center gap-3">
                <%= image_tag lecture_user.user.avatar_url, class: "lecture__avatar", alt: "#{lecture_user.user.name}'s avatar" %>
                <div>
                  <h4 class="m-0 fw-bold text-dark text-decoration-underline"><%= lecture_user.user.name %></h4>
                  <%# <p class="current-lecture m-0 text-success small">Currently learning this lecture</p> %>
                </div>
              </div>
            <% end %>

            <%= render "users/favorite_button", user: lecture_user.user %>

          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column gap-1">
              <p class="m-0 small text-muted">
                <%# <i class="fa-solid fa-laptop-code me-1"></i> Web Development FT %>
              </p>
              <p class="m-0 small text-muted">
                <i class="fa-solid fa-location-dot me-1"></i> <%= lecture_user.user.location %>
              </p>
            </div>

             <%= turbo_stream_from "user_#{lecture_user.user.id}" %>

            <turbo-frame id="timezone_<%= lecture_user.user.id %>">
              <%= render partial: "timezone", locals: { lecture_user: lecture_user } %>
            </turbo-frame>

          </div>

          <div class="d-flex justify-content-center">
          <% unless lecture_user.user == current_user %>
            <% meeting_requested = Meeting.exists?(requester_id: current_user.id, receiver_id: lecture_user.user.id, status: "pending") %>

            <button
              type="button"
              class="btn btn-request <%= 'btn-disabled' if meeting_requested %>"
              data-bs-toggle="modal"
              data-bs-target="#meetingModal-<%= lecture_user.user.id %>"
              data-controller="meeting"
              data-action="click->meeting#sendRequest"
              data-meeting-user-id="<%= lecture_user.user.id %>"
              <%= 'disabled' if meeting_requested %>
            >
              <%= meeting_requested ? "Request Sent!" : "Request Meeting" %>
            </button>
          <% end %>
        </div>

        </div>
      </div>
      <%= render "modal-meetings", lecture: @lecture, lecture_user: lecture_user %>
    <% end %>
  <% end %>
</div>
