<div class="favorites-container">
  
  
  <%= turbo_frame_tag "favourited-users" do %>
    <% if favourited_users.any? %>
      <div class="favorites-grid">
        <% favourited_users.each do |user| %>
          <turbo-frame id="favorite-user-<%= user.id %>">
            <div class="favorite-card">
              <div class="favorite-header">
                <%= image_tag user.avatar_url, class: "favorite-avatar", alt: "#{user.name}'s avatar" %>
                <h3 class="favorite-name"><%= user.name %></h3>
              </div>
              
              <div class="favorite-info">
                <%# <% if user.location.present? %>
                  <%# <div class="favorite-detail"> %>
                    <%# <i class="fa-solid fa-map-marker-alt"></i> %>
                    <%# <span><%= user.location</span> %>
                  <%# </div> %>
                <%# <% end %> 
                <%= button_to user_favourite_path(user, from: "index"), method: :post, class: "remove-fav-btn", data: { turbo_method: :post, turbo_frame: "favorite-user-#{user.id}" } do %>
                  <i class="fa-solid fa-heart text-danger"></i> Remove from Favorites
                <% end %>
              </div>
              
            </div>
          </turbo-frame>
        <% end %>
      </div>
    <% else %>
      <div class="favorites-empty">
        <p>You haven't favorited anyone yet.</p>
      </div>
    <% end %>
  <% end %>
</div>
