<%= turbo_frame_tag "favourited-users" do %>
  <% if favourites.any? %>
    <div class="favourited-users">
      <% favourites.each do |favourite| %>
        <turbo-frame id="favorite-user-<%= favourite.favourited_user.id %>">
          <div class="user-card">
            <%= link_to user_profile_path(favourite) do %>
              <div class="d-flex align-items-center">
                <%= image_tag favourite.favourited_user.avatar_url, class: "avatar", alt: "#{favourite.favourited_user.name}'s avatar" %>
                <div>
                  <h4><%= favourite.favourited_user.name %></h4>
                </div>
              </div>
            <% end %>
            <%= button_to user_favourite_path(favourite, from: "index"), method: :post, class: "remove-fav-btn", data: { turbo_method: :post, turbo_frame: "favorite-user-#{favourite.favourited_user.id}" } do %>
              <i class="fa-solid fa-heart text-danger"></i> Remove from Favorites
            <% end %>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  <% else %>
    <div class="empty-favorites">
      <h3>No Favorites Yet</h3>
      <p>You haven't favorited anyone yet. Start adding some!</p>
    </div>
  <% end %>
<% end %>
