<%# implement a searchbar here or a filter too empty%>

<div class="lectures-collapse">
  <div class="chapter-description mb-5">
    <h1 class="chapter-name"><%= @chapter.name %></h1>
    <p class="m-0"><%= @chapter.overview %></p>
  </div>

  <div class="collapsible">
    <% @lectures.group_by(&:group_name).each do |group_name, group_lectures| %>
      <details class="collapsible-group">
        <summary>
          <span class="group-name"><%= group_name %></span>
          <i class="fas fa-chevron-down"></i>
        </summary>

        <% group_lectures.each do |lecture| %>
          <div class="lecture-card">
            <%= link_to lecture_path(lecture), class: "d-flex align-items-center" do %>
              <i class="fa-solid fa-book-open"></i>
              <p class="m-0"><%= lecture.title %></p>
            <% end %>
          </div>
        <% end %>
      </details>
    <% end %>
  </div>
</div>
