<!DOCTYPE html>
<html>
  <head>
    <title>StudentsConnect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="icon" type="image/png" href="<%= asset_path('favicon-32x32.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= 'calendar-body' if controller.action_name == 'calendar' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

   <% if controller.action_name != 'calendar' %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
